div {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: translate(50px,20px);
}

div#rotateKanan {
  transform: rotate(20deg);
  margin-top: 50px;
  margin-bottom: 50px;
}

div#rotateKiri {	
  transform: rotate(-20deg);
  margin-top: 50px;
  margin-bottom: 50px;
}

div#scale {	
  transform: scale(1,2);
  margin-top: 60px;
  margin-bottom: 60px;
}

div#scaleX {	
  transform: scaleX(2);
  margin-top: 60px;
  margin-bottom: 60px;
}

div#scaleY {	
  transform: scaleY(4);
  margin-top: 160px;
  margin-bottom: 160px;
}

div#skew {	
  transform: skew(20deg,10deg);
  margin-top: 60px;
  margin-bottom: 60px;
}

div#skewX {	
  transform: skewX(20deg);
  margin-top: 60px;
  margin-bottom: 60px;
}

div#skewY {	
  transform: skewY(10deg);
  margin-top: 60px;
  margin-bottom: 60px;
}

div#Matrix {
  transform: matrix(1, -0.3, 0, 1, 0, 0);
  margin-top: 60px;
  margin-bottom: 60px;
}
